<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title></title>
    <script src="angular.js"></script>
    <script src="socket.io-1.1.0.js"></script>
    <script src="socket.js"></script>
    <script src="scrollglue.js"></script>
    <script src="app.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body ng-app="PnO" ng-controller="RobotController" ng-keydown="keypress($event)" ng-keyup="keyup($event)">
<div class="top-wrapper">
    <div class="view-wrapper">
        <div class="view map-view" ng-style="scaleStyle">
            <div class="map-wrapper" ng-style="{'width':80*map.x + 'px'}">
                <div class="target" ng-style="targetStyle"></div>
                <div class="point" style="background:green" ng-repeat="point in front_points" ng-style="{left: point[0]*100 + 'px', top: point[1]*100 + 'px'}"></div>
                <div class="point" style="background:orange" ng-repeat="point in side_points" ng-style="{left: point[0]*100 + 'px', top: point[1]*100 + 'px'}"></div>
                <div class="car {{car.name}}" ng-style="car.carStyle" ng-repeat="car in cars"></div>
                <div class="block" ng-repeat="block in map.blocks"
                     ng-class="{
                                 'wall-n': hasWall(block,'N'),
                                 'wall-e': hasWall(block,'E'),
                                 'wall-s': hasWall(block,'S'),
                                 'wall-w': hasWall(block,'W'),
                                 'image-n': hasImage(block,'N'),
                                 'image-e': hasImage(block,'E'),
                                 'image-s': hasImage(block,'S'),
                                 'image-w': hasImage(block,'W'),
                                 'bottleneck': block.type == 6,
                                 'next-row': ($index % map.x) == 0
                                 }"
                        back-img="{{block.image}}">
                    <div class="outline-wrapper"></div>
                    <div class="hover-buttons">
                        <span class="hover-label">RESET POSITION</span>
                        <div class="cross-buttons-wrapper">
                            <div class="hover-button square offset-left-1" ng-click="reset($index,'N')">
                                <span>N</span>
                            </div>
                            <div class="hover-button square clear" ng-click="reset($index,'W')">
                                <span>W</span>
                            </div>
                            <div class="hover-button square offset-left-1" ng-click="reset($index,'E')">
                                <span>E</span>
                            </div>
                            <div class="hover-button square clear offset-left-1" ng-click="reset($index,'S')">
                                <span>S</span>
                            </div>
                        </div>
                        <span class="hover-label">NAVIGATE HERE</span>
                        <div class="hover-button" ng-click="nav_coord($index)">
                            <span>NAV BY COORDS</span>
                        </div>
                        <div class="hover-button" ng-click="nav($index)">
                            <span>NAV BY IMAGE</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
                <div class="path-element" ng-repeat="element in path"
                     ng-style="{'top':40 + element.y*80 + 'px', 'left':40 + element.x*80 + 'px'}"
                     ng-class="{
                                    'rotate-n': element.direction == 'N',
                                    'rotate-e': element.direction == 'E',
                                    'rotate-s': element.direction == 'S',
                                    'rotate-w': element.direction == 'W'
                        }">
                </div>
                <div ng-hide="map.blocks.length">Loading...</div>

                <div class="clearfix"></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="data-wrapper">
        <div class="info-wrapper">
            <div class="info-group">
                <span class="info-label">front dst</span>
                <span class="info-field">{{sonar_pcb | number : 0}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="info-group">
                <span class="info-label">side dst</span>
                <span class="info-field">{{sonar_lego | number : 0}}</span>
                <div class="clearfix"></div>
            </div>
            <div class="info-group" ng-show="shape_last_updated > 0">
                <span class="info-label wide">FOUND: {{shape_name}}</span>
                <span class="info-field wide">
                    <img class="shape-img" ng-src="shape.jpg?v={{shape_last_updated}}" alt=""/>
                </span>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
    <div class="control-wrapper">
        <div class="controls-field control-auto">
            <span class="control-button center wide info-box" ng-click="scale = scale + 0.05">ZOOM IN</span>
            <span class="control-button center wide info-box" ng-click="scale = scale - 0.05">ZOOM OUT</span>
            <span class="control-button center wide info-box" ng-click="shape_hunt()">SHAPE HUNT</span>
            <span class="control-button center wide info-box" ng-click="abort()">ABORT</span>

        </div>
    </div>
    <div class="clearfix"></div>
</div>
<div ng-controller="DebugController" class="bottom-wrapper" ng-class="{'open':debugOpen}">
    <div class="log-wrapper">
        <div class="clear-button icon-clear" ng-click="messages.clear('local')"></div>

        <div class="log-title">GUI</div>
        <div class="log-box" scroll-glue="glued1" ng-class="{glued:glued1}">
            <span ng-repeat="message in messages.localMessages">{{message.data}}</span>
        </div>
    </div>
    <div class="log-wrapper">
        <div class="clear-button icon-clear" ng-click="messages.clear('node')"></div>

        <div class="log-title">Node.js Server</div>
        <div class="log-box" scroll-glue="glued2" ng-class="{glued:glued2}">
            <span ng-repeat="message in messages.nodeMessages">{{message.data}}</span>
        </div>
    </div>
    <div class="log-wrapper">
        <div class="clear-button icon-clear" ng-click="messages.clear('python')"></div>

        <div class="log-title">Firmware</div>
        <div class="log-box" scroll-glue="glued3" ng-class="{glued:glued3}">
            <span ng-repeat="message in messages.pythonMessages">{{message.data}}</span>
        </div>
    </div>
    <div class="open-button" ng-class="{'icon-arrow-down':debugOpen,'icon-arrow-up':!debugOpen}"
         ng-click="debugOpen = !debugOpen">

    </div>
</div>
</body>
</html>
