body {
    margin: 0;
}

div {
    box-sizing: border-box;
}

.top-wrapper {
    width: 100%;
    height: 80vh;
}

.view-wrapper {
    height: 100%;
    width: 50%;
    float: left;
}

.control-wrapper {
    height: 100%;
    width: 25%;
    float: left;
    border-left: 2px solid #888888;
    padding: 5px;
}

.data-wrapper{
    height: 100%;
    width: 25%;
    float:left;
    border-left: 2px solid #888888;
    padding: 5px;
}


.clearfix {
    clear: both;
}

/* INFO */

.info-box {
    width: 100%;
    font-size: 1.5rem;
    font-family: helvetica, sans-serif;
}

.info-label {
    width: 75%;
    float: left;
    height: 50px;
    line-height: 40px;
    padding: 5px 10px;
    box-sizing: border-box;
    background: #222222;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
}

.block.bottleneck {
    border-top: 20px solid white !important;
    border-bottom: 20px solid white !important;
    border-left: 20px solid black !important;
    border-right: 20px solid black !important;
}

.block.wall-n.bottleneck {
    border-left: 20px solid white !important;
    border-right: 20px solid white !important;
    border-top: 20px solid black !important;
    border-bottom: 20px solid black !important;
}

.button-group .control-button {
    margin-bottom: 0 !important;
}

.button-group input {
    line-height: 30px;
    font-size: 30px;
    text-align: center;
}

.control .info-label {
    background: green;
}

.control .info-field {
    border: 2px solid green;
}

.info-label.wide {
    width: 100%;
    text-align: center;
}

.info-field {
    width: 25%;
    float: left;
    min-height: 50px;
    line-height: 36px;
    box-sizing: border-box;
    padding: 5px 10px;
    border: 2px solid #222222;
}

.info-field.wide {
    width: 100%;
    border-top: none;
}

.info-field input {
    width: 100%;
}

.info-wrapper {
    width:100%;
}

.info-group {
    width: 100%;
    margin-bottom: 5px;
    font-family: helvetica, sans-serif;
}

.shape-img{
    max-width: 100%;
    height:auto;
    margin: auto;
}


/* LOG */
.bottom-wrapper {
    height: 20vh;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 30;
    background: white;
}

.bottom-wrapper.open {
    height: 85vh;
}

.log-box {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    border: 1px solid black;
    height: 100%;
    padding-top: 36px;
}

.log-box.glued {
    border-bottom: 2px solid blue;
}

.log-box span {
    display: block;
    padding: 2px 5px;
}

.log-box span:nth-child(odd) {
    background: #E8E8E8;
}

.log-title {
    background: #222222;
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    box-sizing: border-box;
    padding: 10px;
    height: 36px;
    position: absolute;
    width: 100%;
}

.debug-container {
    float: left;
    margin-top: 50px;
    font-family: helvetica, sans-serif;
}

.log-wrapper {
    float: left;
    position: relative;
    height: 100%;
    width: 32%;
}

.open-button {
    float: left;
    width: 4%;
    height: 50px;
    color: white;
    background: black;
    font-size: 40px;
    text-align: center;
}

.clear-button {
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 30px !important;
    cursor: pointer;
    z-index: 20;
}

.target {
    background: blue;
    height: 10px;
    width: 10px;
    position: relative;
    z-index: 5;
}

.clear-button:hover {
    color: red;
}

/* OLD */
.center {
    margin: auto;
}

.control-button {
    height: 50px;
    width: 50px;
    background: green;
    float: left;
    color: white;
    text-align: center;
    font-size: 25px;
    line-height: 50px !important;
    cursor: pointer;
}

.control-button.wide {
    float: none;
    display: block;
    width: 100%;
    margin-bottom: 5px;
}

.control-button:first-child {
    margin-left: 0;
}

.control-button.wide:first-child {
    margin: auto;
    margin-bottom: 5px;
}

.control-button:hover {
    background: #2fff2e;
    color: black;
}

.control-button:active, .control-button.active {
    background: #2fff2e;
    color: white;
}

.control-row {
    margin: 0 auto 5px;
    clear: both;
    height: 50px;
    width: 160px

}

/* MAP */
.map-wrapper {
    position: relative;
    margin:auto;
}

.map-view {
    padding: 5px;
}

.block {
    width: 80px;
    height: 80px;
    outline: 1px solid black;
    box-sizing: border-box;
    float: left;
    position: relative;
    z-index: 1;
}

.block.next-row {
    clear: both;
}

.block.wall-n {
    border-top: 5px solid black;
}

.block.wall-e {
    border-right: 5px solid black;
}

.block.wall-s {
    border-bottom: 5px solid black;
}

.block.wall-w {
    border-left: 5px solid black;
}

.block.image-n {
    border-top-color: #444444;
    background-position: top center;
}

.block.image-e {
    border-right-color: #444444;
    background-position: center right;
}

.block.image-s {
    border-bottom-color: #444444;
    background-position: bottom center;
}

.block.image-w {
    border-left-color: #444444;
    background-position: center left;
}

.video-window {
    width: 640px;
    height: 480px;
    background: #CCCCCC;
    margin: auto;
    border: 2px solid #222222;
}

/* PATH */
.path-element {
    width: 80px;
    height: 5px;
    border-top: 5px dotted red;
    transform-origin: left center;
    position: absolute;
    z-index: 10;
}

.path-element.rotate-n {
    transform: rotate(-90deg);
}

.path-element.rotate-e {
    transform: rotate(0deg);

}

.path-element.rotate-s {
    transform: rotate(90deg);

}

.path-element.rotate-w {
    transform: rotate(180deg);

}

.car {
    position: absolute;
    width: 25px;
    height: 14px;
    box-sizing: border-box;
    background: #666666;
    transform-origin: 19px 6px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    border-right: 2px solid yellow;
    border-left: 2px solid red;
    z-index: 50;
}

.point{
    height:5px;
    width:5px;
    position:absolute;
    z-index: 5;
}

/* FONTS */
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?av9dt3');
    src: url('fonts/icomoon.eot?#iefixav9dt3') format('embedded-opentype'),
    url('fonts/icomoon.woff?av9dt3') format('woff'),
    url('fonts/icomoon.ttf?av9dt3') format('truetype'),
    url('fonts/icomoon.svg?av9dt3#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-undo:before {
    content: "\e600";
}

.icon-redo:before {
    content: "\e601";
}

.icon-clear:before {
    content: "\e602";
}

.icon-stop:before {
    content: "\e603";
}

.icon-arrow-up-left:before {
    content: "\e604";
}

.icon-arrow-up:before {
    content: "\e605";
}

.icon-arrow-up-right:before {
    content: "\e606";
}

.icon-arrow-right:before {
    content: "\e607";
}

.icon-arrow-down-right:before {
    content: "\e608";
}

.icon-arrow-down:before {
    content: "\e609";
}

.icon-arrow-down-left:before {
    content: "\e60a";
}

.icon-arrow-left:before {
    content: "\e60b";
}

.brons {
    background: rgb(0, 0, 0);
}

.koper {
    background: rgb(255, 117, 64);

}

.paars {
    background: rgb(160, 0, 255);
}

.blauw {
    background: rgb(14, 35, 255);

}

.rood {
    background: rgb(255, 7, 10);
}

.groen {
    background: rgb(44, 255, 32);

}

.geel {
    background: rgb(255, 244, 0);

}

.indigo {
    background: rgb(255, 160, 176);

}

.zilver {
    background: rgb(151, 151, 151);

}

.goud {
    background: rgb(255, 166, 0);

}

.ijzer {
    background: rgb(100, 100, 100);

}

.platinum {
    background: rgb(230, 230, 255);
}

.hover-buttons {
    display: none;
    position: absolute;
    left:60%;
    top:40%;
    padding: 5px;
    height: auto;
    width: 200px;
    vertical-align: middle;
    text-align: center;
    background: black;
}
.cross-buttons-wrapper{
    width: 100%;
}

.hover-button span {
    line-height: 100%;
    height: 100%;
    width: 100%;
}
.hover-label{
    color: white;
    font-family: helvetica, sans-serif;
    line-height: 2;
}

.block:hover .hover-buttons {
    display: block;
}
.block:hover{
    z-index: 500;
    outline: none;
}

.hover-button {
    box-sizing: border-box;
    background: green;
    float: left;
    cursor: pointer;
    color: white;
    width: 100%;
    padding: 5px;
    font-family: helvetica, sans-serif;
    margin-bottom: 5px;
}
.hover-button.square{
    width: 33.3333%;
    height: 33.3333%;
    padding-top: 3px;
    margin-bottom: 0;
}

.hover-button:hover {
    background: rgb(100, 255, 100);
}

.hover-button.offset-left-1 {
    margin-left: 33.33333%;
}

.hover-button.clear {
    clear: left;
}

.outline-wrapper{
    width: 100%;
    height: 100%;
}
.block:hover .outline-wrapper{
    outline:3px solid red;
}